.lists__box__group
  %p.group__name
    sample-group-name
  %p.group__latist-message
    sample-message

.lists__box__group
  %p.group__name
    sample-group-name
  %p.group__latist-message
    sample-message

.lists__box__group
  %p.group__name
    sample-group-name
  %p.group__latist-message
    sample-message

.lists__box__group
  %p.group__name
    sample-group-name
  %p.group__latist-message
    sample-message

.lists__box__group
  %p.group__name
    sample-group-name
  %p.group__latist-message
    sample-message

.lists__box__group
  %p.group__name
    sample-group-name
  %p.group__latist-message
    sample-message