.message__info
  %p.message__info--user
    sample_user
  %p.message__info--date
    20XX/XX/XX(Sat) XX:XX:XX
.message__content
  こんにちは！

.message__info
  %p.message__info--user
    sample_user
  %p.message__info--date
    20XX/XX/XX(Sat) XX:XX:XX
.message__content
  こんばんは！

.message__info
  %p.message__info--user
    sample_user
  %p.message__info--date
    20XX/XX/XX(Sat) XX:XX:XX
.message__content
  こんばんは！

.message__info
  %p.message__info--user
    sample_user
  %p.message__info--date
    20XX/XX/XX(Sat) XX:XX:XX
.message__content
  こんばんは！

.message__info
  %p.message__info--user
    sample_user
  %p.message__info--date
    20XX/XX/XX(Sat) XX:XX:XX
.message__content
  こんばんは！

.message__info
  %p.message__info--user
    sample_user
  %p.message__info--date
    20XX/XX/XX(Sat) XX:XX:XX
.message__content
  こんばんは！

.message__info
  %p.message__info--user
    sample_user
  %p.message__info--date
    20XX/XX/XX(Sat) XX:XX:XX
.message__content
  こんばんは！

.message__info
  %p.message__info--user
    sample_user
  %p.message__info--date
    20XX/XX/XX(Sat) XX:XX:XX
.message__content
  こんばんは！