.notice
  グループを作成しました

.side
  .side__heading
    .heading__box
      %p.heading__box__user
        sample-user
      %ul.heading__box__btns
        %li.heading__box__btns--new-group
        =link_to "#undefined" do
          =fa_icon 'edit'
        %li.heading__box__btns--edit-user
        =link_to '#undefined' do
          =fa_icon 'cog'
  .side__lists
    .lists__box
      .lists__box__group
        %p.group__name
          sample-group-name
        %p.group__latist-message
          sample-message

.contents
  .contents__heading
    .heading__left
      %p.heading__left--group-name
        sample_group
      %ul.heading__left--members
        Member：
        %li user1
        %li user2
    .heading--btn
      =link_to "#undefined", class: "edit-link" do
        %p Edit

  .contents__main
    .main__message
      %p.main__user
        sample_user
      %p.main__date
        sample_date
      %p.main__message
        sample_message

  .contents__bottom
    .bottom__form
      .form--textarea
        %input placeholder="type a message" type="text"
      .form--image
        =link_to "#undefined" do
          = fa_icon '', class: "image--icon"
      .form--btn
        %input type="submit"
     