.side
  .side__heading
    .side__heading--user
    sample-user
    .side__heading__btn
  .side__list
    .side__list
    sample-group
    sample-message

.contents
  .contents__heading
    .contents__heading--group
      sample_group
    .contents__heading--members
      Members: user1 user2
    .contents__heading--btn
  .contents__main
    .contents__main--user
      sample_user
    .contents__main--date
      sample_date
    .contents__main--message
      sample_message
  .contents__textarea
    .contents__textarea--txt
    .contents__textarea--btn