$sideBarColor: #2f3e51;
$sideHeadingColor: #253141;
$mainBackgroundColor: #fafafa;
$white: #FFFFFF;
$lightBlue: #38AEF0;
$lightgray: #ddd;
$mainMassageFontColor: #434A54;
$gray: #999999;
$sidebarPadding: 0 20px;
$mainSidePadding: 0 40px;
$formHeight: 50px;
$headerHeight: 100px;