@import "variable";

.notice {
  background-color: $paleBlue;
  width: 100%;
  font-size: 15px;
  color: white;
  text-align: center;
}

.side {
  width: 300px;
  height: 100%;
  color: #FFFFFF;
  font-weight: bold;
  float: left;
  &__heading {
    height: 82px;
    padding: 0 20px;
    background-color: $headingColor;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      line-height: 82px;
      &__box__user {
        font-size: 16px;
        float: left;
      }
      &__box__btns {
        display: inline;
        font-size: 1.3em;
        color: white;
        list-style: none;
      }
    }
  }

  &__lists {
    height: calc(100vh - 100px);
    background-color: $mainDarkColor;
    padding: 20px 20px 40px;
    &__box__group {
      &__name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__latist-message {
        font-size: 11px;
      }
    }
  }
}

.contents {
  width: calc(100vw - 300px);
  float: right;
  &__heading {
    border-bottom: #eeeeee solid 1px;
    height: 82px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__left--group-name {
      padding-top: 35px;
      font-size: 20px;
      color: #333333;
    }
  }
  &__main {
    background-color: $mainColor;
    height: calc(100vh - 90px - 82px);
  }
  &__textarea {
    background-color: $gray;
    height: 90px;
    padding: 20px 40px;
    &__left {
      display: inline-flex;
    }
  }
}