@import "variable";

.notice {
  background-color: $paleBlue;
  width: 100%;
  font-size: 15px;
  color: white;
  text-align: center;
}

.side {
  background-color: $headingColor;
  width: 300px;
  height: 100%;
  color: #FFFFFF;
  font-weight: bold;
  float: left;
  &__heading {
    height: 100px;
    padding: 0 20px;
    .heading__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      line-height: 100px;
      &__user {
        font-size: 16px;
        float: left;
      }
      &__btns {
        display: flex;
        flex-basis: 20px;
        font-size: 1.3em;
        list-style: none;
        li {
          padding: 5px;
        }
      }
    }
  }
  &__lists {
    height: calc(100vh - 100px);
    background-color: $mainDarkColor;
    padding: 20px 20px 40px;
    .lists__box__group {
      .group__name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      .group__latist-message {
        font-size: 11px;
      }
    }
  }
}

.contents {
  width: calc(100vw - 300px);
  float: right;
  &__heading {
    border-bottom: #eeeeee solid 1px;
    height: 100px;
    padding: 0 40px;
    justify-content: space-between;
    .heading__left {
      padding-top: 35px;
      float: left;
      &--group-name {
      font-size: 20px;
      color: #333333;
      margin-bottom: 15px;
      }
      &--members {
        font-size: 12px;
        color: #999999;
        display: flex;
        justify-content: flex-start;
        li {
          padding-left: 2px;
        }
      }
    }
    .heading--btn {
      float: right;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
      .edit-link {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  &__main {
    background-color: $mainColor;
    height: calc(100vh - 190px);
    padding: 46px 40px;
  }
  &__textarea {
    background-color: $gray;
    height: 90px;
    padding: 20px 40px;
    &__left {
      display: inline-flex;
    }
  }
}